<!DOCTYPE html>
<html lang="en">
	<%- include("includes/head") %> <%- include("includes/nav") %>
	<body>
		<% if (results.length > 0) { %>
		<div class="potato">
			<% results.forEach(img => { %>
			<a href="/view/<%= img.filename %>?q=tag%3A<%= dazonia.defaultTagName %>">
				<div class="pics picsBorder">
					<% if (img.hasIcon) { %>
					<button class="thumbButton sideView">►</button>
					<% } %> <% if (img.rating > 0) {%>
					<img
						class="starView"
						src="/img/star/<%= img.rating %>.png"
						alt="<%= img.rating %> star"
						height="32"
						width="32"
					/>
					<% } %>
					<img
						class="thumb"
						src="/thumbnails/<%= img.filename %>"
						alt="<%= img.filename %>"
						height="<%= img.thumbnail.height %>"
						width="<%= img.thumbnail.width %>"
					/>
				</div>
			</a>
			<% }); %>
		</div>
		<% } else { %>
		<p>No pics :c</p>

		<% } %>
		<div class="pageButtons">
			<a href="/?page=<%= query.page - 1 %>&tag=<%= query.tag %>"><button>←</button></a>
			<span><%= query.page %></span>
			<a href="/?page=<%= query.page + 1 %>&tag=<%= query.tag %>"><button>→</button></a>
		</div>
		<%- include("includes/footer") %>
	</body>
</html>
